# Telegram
TELEGRAM_TOKEN=1234567890:AAEEg5QtK-7ofl60GPUDQ9liIUUELK7jndc
ADMIN_ID=123456789
ADMIN_USERNAME=your_username

# Debug (True/False)
DEBUG_MODE=False

# qBittorrent
QBIT_HOST=192.168.1.100
QBIT_PORT=8080
QBIT_USER=admin
QBIT_PASSWORD=yourpassword

# Prowlarr
PROWLARR_BASE_URL=http://192.168.1.100:9696
PROWLARR_API_KEY=your_prowlarr_api_key

# TMDB (https://www.themoviedb.org/settings/api)
TMDB_API_KEY=your_tmdb_api_key

# qBittorrent категории (должны совпадать с категориями в qBit)
QBIT_CAT_MOVIE=radarr
QBIT_CAT_TV=tv-sonarr

# Timezone
TZ=Europe/Kiev
